@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-SemiBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-SemiBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-MediumItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-Black.ttf");
    font-weight: 1000;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-BlackItalic.ttf");
    font-weight: 1000;
    font-style: italic;
}

@font-face {
    font-family: "Cutive Mono";
    src: url("fonts/CutiveMono-Regular.ttf");
}

body {
    padding: 10px;
    background-color: #ede8c5;
    font-family: 'Libre Franklin', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05em;
    font-weight: 800;
    max-width: 70ch;
    margin: auto;
    /* text-shadow: 0px 0px 0.5px black; */
    line-height: 1.25;
    filter: blur(0.2%);

    p {
        text-indent: 2em;
    }

    b, strong, i, em {
        font-weight: 400;
    }

    h2 {
        font-weight: 1000;
    }

    a {
        color: grey;
    }

    pre {
        display: inline-block;
        max-width: inherit;
        white-space: pre-wrap;
        word-wrap: anywhere;
    }

    code, mono {
        display: inline-block;
        max-width: inherit;

        font-family: 'Cutive Mono', Courier, monospace;
        letter-spacing: 0em;
    }

    .toc {
        border: solid 1px black;
    }

    ::selection {
        color: white;
        background-color: grey;
    }
}