:root {
    --hack-grey: rgb(31, 37, 41);
    --hack-green: rgb(151, 255, 184);
    --hack-light-green: rgb(175, 255, 200);
    --hack-red: rgb(255, 106, 106);
}

@font-face {
    font-family: 'QTChancery';
    src: url('fonts/QTChanceryType.otf');
}

@font-face {
    font-family: 'QTChancery';
    src: url('fonts/QTChanceryType-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'QTGaromand';
    src: url('fonts/QTGaromand.otf');
}

@font-face {
    font-family: 'QTGaromand';
    src: url('fonts/QTGaromand-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'QTGaromand';
    src: url('fonts/QTGaromand-Italic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'QTGaromand', 'Times New Roman', Times, serif;
    src: url('fonts/QTGaromand-BoldItalic.otf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'VT323';
    src: url('fonts/VT323-Regular.ttf');
}


@font-face {
    font-family: 'JSL Blackletter';
    src: url('fonts/JBLACK.TTF');
}

@font-face {
    font-family: 'Cutive Mono';
    src: url('fonts/CutiveMono-Regular.ttf');
}

body {
    background-color: rgb(51, 61, 67);
    font-family: 'QTGaromand', 'Times New Roman', Times, serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    color: antiquewhite;
}

#content {
    max-width: 85%;
    margin: auto;
}

#info-block {
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

h1, h2 {
    margin-top: 0.5em;
    font-family: 'JSL Blackletter', serif;
    letter-spacing: 0.5rem;
    margin-bottom: 0.1em;
    text-align: center;
}

h2 {
    margin-top: 0em;
    margin-bottom: 0.75em;
    letter-spacing: 0.2rem;

}


a {
    color: rgb(238, 190, 132);
    font-weight: bold;
    cursor: pointer;
}

a:hover{
    filter: brightness(110%);
    text-shadow: 0px 0px 3px white;
}

a:active{
    filter: brightness(150%);
}

#game-container {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.terminal {
    font-family: 'VT323', 'Courier New', Courier, monospace;
    /* margin: auto; */
    width: 37em;
    height: 100px;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 3px black;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    .terminal {
        width: 85%;
        margin: auto;
        font-size: 10pt;
    }
}

.terminal-output {
    font-variant-ligatures: none;
    height: 100px;
    overflow-y: scroll;
}

.terminal-button {
    background-color: black;
    border: solid 2px white;
    color: white;
    font-family: 'VT323', 'Courier New', Courier, monospace;
    font-size: 12pt;
    cursor: pointer;
}

.terminal-button:hover {
    background-color: rgb(67, 67, 67);
}

.terminal-button:active {
    background-color: rgb(138, 138, 138);
}

.data {
    color: darkcyan;
}

#character-sheet, #inventory-column, #combat-table{
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    width: 10em;
    border: solid 2.5px antiquewhite;
    text-align: center;
}

#combat-table{
    transition: all 0.2s;
    opacity: 0%;
}

@media only screen and (max-width: 1000px) {

    #character-sheet{
        max-height: 15em;
        overflow: scroll;
    }

    #character-sheet, #combat-table, #inventory-column{
        width: 80%;
    }
    
    .hidden{
        display: none;
    }
}

#stats-section {
    font-family: 'QTChancery', 'Times New Roman', Times, serif;
}

#data-section, #skills-section, #enemy-section, #inventory, #spells {
    font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
}

#inventory, #spells {
    font-size: 10pt;
}

#data-section th, #skills-section th, #enemy-section th {
    text-align: left;
    font-weight: normal;

}

table {
    width: 100%;
}

#enemy-name,  #name{
    font-weight: bold;
    font-family: 'QTChancery', 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
}

#edge-title {
    margin-bottom: 0em;
}

.edge-box{
    padding-left: 0.1em;
    padding-right: 0.1em;
    height: 0.5em;
    background-color: inherit;
    border: solid 1px antiquewhite;
}

#nospell, #noupgrade, #nohack {
    font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
    filter: brightness(80%);

    display: none;
}

#casting-bar {
    background-color: inherit;
    width: 100%;
    height: 0.5em;
    border: solid 1px antiquewhite;
}

#casting-progress {
    background-color: antiquewhite;
    width: 0%;
    height: 0.5em;

}

.important {
    color: rgb(165, 45, 11);
}

button {
    background-color: inherit;
    border: none;
    font-weight: bold;
    color: rgb(238, 190, 132);
    cursor: pointer;
    font-family: inherit;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(130%);
}

#hack-section {
    background-color: var(--hack-grey);
    box-shadow: 0px 0px 2px var(--hack-green);
    font-family: 'VT323', 'Courier New', Courier, monospace;
    margin-bottom: 0em;
    text-align: left;
    color: var(--hack-green);
    height: 0em;
    transition: height 3s;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}

#hack-section h3{
    margin-bottom: 0em;
}

#hack-info, #hack-commands, #hack-programs{
    font-size: 10pt;
}

#hack-section button {
    padding: 0.2em;
    /* border: solid 1px var(--hack-green); */
    margin: 0.2em;
    color: inherit;
    box-shadow: 0px 0px 1px var(--hack-green);
    border-radius: 1px;
}

#hack-section button:hover {
    background-color: var(--hack-green);
    color: var(--hack-grey);
}

#hack-progress {
    height: 0%;
    background-color: var(--hack-green);
    z-index: 9;

}

#hack-inner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.7em;
}

#hack-programs, #hack-commands {
    height: 4em;
    overflow-y: auto;
}

#privilege-level {
    transition: all 0.2s;
}

#hack-section.disabled {
    box-shadow: 0px 0px 2px var(--hack-red);
    color: var(--hack-red);
}

#hack-section.disabled #hack-progress {
    background-color: var(--hack-red);
}

#hack-section.disabled button {
    background-color: var(--hack-red);
    color: var(--hack-grey);
}

#hack-section.disabled button:hover {
    background-color: var(--hack-red);
    color: var(--hack-grey);
    cursor: not-allowed;
}
